<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.silhyun.member.map.AdminMapper">

<!-- 리스트 보여주기 -->
	<select id="memberList" parameterType="MemberVO" resultType="co.yedam.silhyun.member.vo.MemberVO">
		select * 
		from member
		order by join_date
	</select>

	<select id="ptgList" parameterType="PhotographerVO" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
		select *
		from photographer
		order by regi_date
	</select>

	<select id="stdList" parameterType="StudioVO" resultType="co.yedam.silhyun.member.vo.StudioVO">
		select *
		from studio
		order by regi_date
	</select>

	<select id="adminInfo" parameterType="MemberVO" resultType="co.yedam.silhyun.member.vo.MemberVO">
		select * from member
		where mem_cd = 'M0'
	</select>
	
	<select id="qtList" parameterType="QuitVO" resultType="co.yedam.silhyun.mypage.vo.QuitVO">
		select *
		from quit
		order by quit_date
	</select>
	
	<select id="belongPtg" parameterType="MemberVO" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
		select *
		from photographer
		where st_id = #{st_id}
	</select>
	
<!-- 신규 보여주기 -->
	<select id="todayMem" parameterType="MemberVO" resultType="co.yedam.silhyun.member.vo.MemberVO">
		select * 
		from member
		where to_char(join_date,'YY/MM/DD') = to_char(SYSDATE,'YY/MM/DD')
		order by join_date
	</select>
	
	<select id="todayPtg" parameterType="PhotographerVO" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
		select * 
		from photographer
		where to_char(regi_date,'YY/MM/DD') = to_char(SYSDATE,'YY/MM/DD')
		order by accp_date
	</select>
	
	<select id="todayStd" parameterType="StudioVO" resultType="co.yedam.silhyun.member.vo.StudioVO">
		select * 
		from studio
		where to_char(regi_date,'YY/MM/DD') = to_char(SYSDATE,'YY/MM/DD')
		order by accp_date
	</select>



	<!-- 등록 -->
	
	<insert id="insertQuitMember" parameterType="String">
		insert into quit
		values(#{id }, to_char(SYSDATE,'YY/MM/DD'), 'T0', '')
	</insert>






<!-- 삭제 -->
<!-- 회원 삭제 -->
	<delete id="deleteMember">
		DELETE from member
		where id = #{id }
	</delete>	
	
<!-- 탈퇴 삭제 -->
	<delete id="deleteQMember">
		DELETE from quit
		where id = #{id }
	</delete>	

<!-- 수정 -->
<update id="updateAdmin">

	UPDATE MEMBER
	<set>
	<if test="name!=null and !name.equals('')">name = #{name },</if>
	<if test="email!=null and !email.equals('')">email = #{email },</if>
	<if test="pwd!=null and !pwd.equals('')">pwd = #{pwd },</if>
	<if test="tel!=null and !tel.equals('')">tel = #{tel },</if>
	<if test="birthDate!=null and !birthDate.equals('')">birth_date = #{birthDate },</if>
	<if test="genCd!=null and !genCd.equals('')">gen_cd = #{genCd }</if>
	</set>
	WHERE mem_cd = 'M0' 

</update>


<update id="updateMember">

	UPDATE MEMBER
	<set>
	<if test="name!=null and !name.equals('')">name = #{name },</if>
	<if test="email!=null and !email.equals('')">email = #{email },</if>
	<if test="tel!=null and !tel.equals('')">tel = #{tel },</if>
	<if test="birthDate!=null and !birthDate.equals('')">birth_date = #{birthDate },</if>
	<if test="genCd!=null and !genCd.equals('')">gen_cd = #{genCd },</if>
	 
	 <!-- 
	<if test="pointSum!=null and !pointSum.equals('')">point_sum = #{pointSum },</if>
	  -->
	 
	<if test="memCd!=null and !memCd.equals('')">mem_cd = #{memCd }</if>
	</set>
	WHERE id = #{id } 

</update>



<!-- 그래프 -->
<!-- 탈퇴그래프 -->

<select id="quitGraph" resultType="HashMap">
  SELECT 
    COUNT(CASE WHEN quit_cd = 'T0' THEN 1 END) AS "운영자에 의한 강제퇴장",
    COUNT(CASE WHEN quit_cd = 'T1' THEN 1 END) AS "기록삭제",
    COUNT(CASE WHEN quit_cd = 'T2' THEN 1 END) AS "이용장애",
    COUNT(CASE WHEN quit_cd = 'T3' THEN 1 END) AS "타사이트 선호",
    COUNT(CASE WHEN quit_cd = 'T4' THEN 1 END) AS "사용빈도 낮음",
    COUNT(CASE WHEN quit_cd = 'T5' THEN 1 END) AS "콘텐츠불만",
    COUNT(CASE WHEN quit_cd = 'T6' THEN 1 END) AS "기타"
  FROM quit
  order by quit_cd
</select>

<!-- 분야그래프/작가분포  -->
<select id="ptgGraph" resultType="HashMap">
  SELECT 
    COUNT(CASE WHEN fd_cd = 'B1' THEN 1 END) AS "제품",
    COUNT(CASE WHEN fd_cd = 'B2' THEN 1 END) AS "음식",
    COUNT(CASE WHEN fd_cd = 'B3' THEN 1 END) AS "행사",
    COUNT(CASE WHEN fd_cd = 'B4' THEN 1 END) AS "건축/인테리어",
    COUNT(CASE WHEN fd_cd = 'B5' THEN 1 END) AS "패션",
    COUNT(CASE WHEN fd_cd = 'B6' THEN 1 END) AS "프로필/화보",
    COUNT(CASE WHEN fd_cd = 'B7' THEN 1 END) AS "웨딩",
    COUNT(CASE WHEN fd_cd = 'B8' THEN 1 END) AS "일반스냅",
    COUNT(CASE WHEN fd_cd = 'B9' THEN 1 END) AS "반려동물"
  FROM FIELD
  order by fd_cd
</select>



<!-- 회원전체리스트 페이징 -->

<select id="getListMember" resultType="co.yedam.silhyun.member.vo.MemberVO">
	 select * from( select rownum rn, a.* from( 
 
 			select * 
 			from member		
	<if test="type == 'all'">WHERE 1 = 1</if>
	<if test="type == 'id'">WHERE id LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'name'">WHERE name LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'email'">WHERE email LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'tel'">WHERE tel LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'joinDate'">WHERE join_date LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'birthDate'">WHERE birth_date LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'genCd'">WHERE gen_cd '%'||#{keyword }||'%'</if>
	<if test="type == 'pointSum'">WHERE point_sum >= #{keyword } order by point_sum DESC</if>
	<if test="type == 'memCd'">WHERE mem_cd LIKE '%'||#{keyword }||'%'</if>

	<![CDATA[	
	 	) a where rownum <= #{pageNum} * #{amount}) b where rn > (#{pageNum}-1) * #{amount}
	 ]]>
</select>

<select id="getTotalCount" resultType="int">
	select count(*) 
	from member
	<if test="type == 'all'">WHERE 1 = 1</if>
	<if test="type == 'id'">WHERE id LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'name'">WHERE name LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'email'">WHERE email LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'tel'">WHERE tel LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'joinDate'">WHERE join_date LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'birthDate'">WHERE birth_date LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'genCd'">WHERE gen_cd '%'||#{keyword }||'%'</if>
	<if test="type == 'pointSum'">WHERE point_sum >= #{keyword } order by point_sum DESC</if>
	<if test="type == 'memCd'">WHERE mem_cd LIKE '%'||#{keyword }||'%'</if>

</select>
<!-- 기록가리스트 페이징 -->
<select id="getListPtg" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
	 select * from( select rownum rn, a.* from( 
 
 			select * 
 			from photographer	
	<if test="type == 'all'">WHERE 1 = 1</if>
	<if test="type == 'ptgId'">WHERE ptg_id LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'stId'">WHERE st_id LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'regionCd'">WHERE region_cd LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'crn'">WHERE ern LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'inst'">WHERE inst LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'workDay'">WHERE work_day LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'accpDate'">WHERE accp_date LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'ptgCd'">WHERE ptg_cd '%'||#{keyword }||'%'</if>

	<![CDATA[	
	 	) a where rownum <= #{pageNum} * #{amount}) b where rn > (#{pageNum}-1) * #{amount}
	 ]]>
</select>

<select id="getTotalPtg" resultType="int">
	select count(*) 
	from photographer
	<if test="type == 'all'">WHERE 1 = 1</if>
	<if test="type == 'ptgId'">WHERE ptg_id LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'stId'">WHERE st_id LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'regionCd'">WHERE region_cd LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'crn'">WHERE ern LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'inst'">WHERE inst LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'workDay'">WHERE work_day LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'accpDate'">WHERE accp_date LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'ptgCd'">WHERE ptg_cd '%'||#{keyword }||'%'</if>

</select>

<!-- 탈퇴리스트 페이징 -->

<select id="getListQuit" resultType="co.yedam.silhyun.mypage.vo.QuitVO">
	 select * from( select rownum rn, a.* from( 
 
 			select * 
 			from quit		
	<if test="type == 'all'">WHERE 1 = 1</if>
	<if test="type == 'id'">WHERE id LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'quitDate'">WHERE quit_date LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'quitCd'">WHERE quit_cd LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'detaResn'">WHERE deta_resn LIKE '%'||#{keyword }||'%'</if>
	<![CDATA[	
	 	) a where rownum <= #{pageNum} * #{amount}) b where rn > (#{pageNum}-1) * #{amount}
	 ]]>
</select>

<select id="getTotalQuit" resultType="int">
	select count(*) 
	from quit
	<if test="type == 'all'">WHERE 1 = 1</if>
	<if test="type == 'id'">WHERE id LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'quitDate'">WHERE quit_date LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'quitCd'">WHERE quit_cd LIKE '%'||#{keyword }||'%'</if>
	<if test="type == 'detaResn'">WHERE deta_resn LIKE '%'||#{keyword }||'%'</if>
</select>

</mapper>