<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.silhyun.portfolio.map.AroundMapper">

	<!-- <select id="getAroundList" -->
	<!-- resultType="co.yedam.silhyun.portfolio.vo.PortfolioVO"> -->
	<!-- SELECT PO.*,PH.* -->
	<!-- FROM PORTFOLIO PO, PHOTO PH -->
	<!-- WHERE PO.PORT_NUM = PH.CTGR_NUM -->
	<!-- </select> 원래 이걸로 mapper햇움 -->
	<select id="getAroundList"
		resultType="co.yedam.silhyun.portfolio.vo.PortfolioVO">
		SELECT A.PHO_RT, A.PHO_NUM,P.*,L.Likes
		FROM(SELECT PHO_RT, PHO_NUM, CTGR_NUM
		FROM PHOTO
		WHERE PHO_NUM IN (SELECT MIN(TO_NUMBER(PHO_NUM))
		FROM PHOTO
		WHERE CTGR = 'P'
		GROUP BY CTGR_NUM)
		ORDER BY PHO_NUM) A, PORTFOLIO
		P,(SELECT PORT_NUM,COUNT(*) LIKES
		FROM LIKE_PHOTO
		GROUP BY PORT_NUM) L
		WHERE A.CTGR_NUM = P.PORT_NUM AND P.PORT_NUM=L.PORT_NUM
		AND P.UP_STA =
		'Y'
	</select>

	<select id="AroundTagList"
		resultType="co.yedam.silhyun.portfolio.vo.PortfolioVO">
		select*
		From (SELECT A.PHO_RT, A.PHO_NUM,P.*,L.likes
		FROM(SELECT PHO_RT, PHO_NUM,
		CTGR_NUM
		FROM PHOTO
		WHERE PHO_NUM IN (SELECT MIN(TO_NUMBER(PHO_NUM))
		FROM PHOTO
		WHERE CTGR = 'P'
		GROUP BY CTGR_NUM)
		ORDER BY PHO_NUM) A,
		PORTFOLIO P,(SELECT PORT_NUM,COUNT(*)likes
		FROM LIKE_PHOTO
		GROUP BY
		PORT_NUM) L
		WHERE A.CTGR_NUM = P.PORT_NUM AND P.PORT_NUM=L.PORT_NUM
		AND
		P.UP_STA = 'Y')
		WHERE CNTN LIKE '%'||#{tagCntn}||'%'
	</select>
</mapper>