<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.silhyun.common.map.CommentMapper">
	
	<!-- 댓글 리스트 -->
	<select id="getCommentList" parameterType="CommentVO" resultType="co.yedam.silhyun.common.vo.CommentVO">
		select com_num, dep, id, cntn, com_date, grp, ctgr, ctgr_num, (select count(*) from commment d where d.grp = c.com_num and d.com_num != d.grp ) as rep_cnt
		from commment c
		where ctgr_num = 12
		and ctgr = 'C'
		order by grp desc, dep , com_num
	
	</select>
	
	<insert id="commentInsert"  parameterType="CommentVO">
		<selectKey keyProperty="comNum" resultType="String" order="BEFORE">
			SELECT 
				nvl(MAX(to_number(com_num)), 0) + 1 AS "comNum"
			FROM commment
		</selectKey>

	     insert into commment(com_num
                    , ctgr
                    , ctgr_num
                    , dep
                    , grp
                    , id
                    , cntn
                    , com_date)
            values(#{comNum}
                    , #{ctgr}
                    , '12'
                    , #{dep}
                    <choose>
						<when test="grp != null and grp != ''">, #{grp} </when>
						<otherwise> ,#{conNum} </otherwise>
					</choose>
                    ,#{id}
                    , #{cntn}
                    , sysdate)
                    
	 </insert>    
<!-- 	
	 
	 <delete id="commentDelete" >
	 
	 </delete>
	 
	 <update id="commentUpdate">
	 
	 </update>
	 
	 <insert id="replyInsert">
	 
	 </insert>
	 
	 <delete id="replyDelete">
	 
	 </delete>
	 
	 <update id="replyUpdate">
	 
	 </update> -->
	 	 
</mapper>