<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.silhyun.order.map.PaymentMapper">
	<insert id="paymentInsert">
		<selectKey keyProperty="ordNum" resultType="String" order="BEFORE">
			SELECT NVL(MAX(TO_NUMBER(ORD_NUM)),0) +1 AS "ordNum"
			FROM PAYMENT
		</selectKey>
		INSERT INTO PAYMENT
		VALUES(#{ordNum},'A',#{ctgrNum},#{id},#{resNum},'TO',#{uCpNum},#{uPoint},'Y',sysdate, #{paymPri},#{ordPri})
	</insert>
</mapper>