<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.silhyun.member.map.PtgMapper">
	<select id="getPtgLsit" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
		SELECT P.*,M.*
	    FROM PHOTOGRAPHER P, MEMBER M
	    WHERE P.PTG_ID = M.ID
	    ORDER BY P.PTG_ID
	</select>
	
	<select id="ptgSearchList" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
		SELECT DISTINCT P.PTG_ID,M.NAME,M.PROFILE
		FROM PHOTOGRAPHER P, MEMBER M , FIELD F
		where
		P.PTG_ID = M.ID 
        AND P.PTG_ID = F.PTG_ID
		
			<if test="chkArray != null and chkArray.length>0">
					AND P.REGION_CD in <foreach item="region" collection="chkArray" open="(" close=")" separator="," >
						#{region}
					</foreach>
			</if>
			<if test="chkfldArray != null and chkfldArray.length>0">
					AND F.FD_CD in <foreach item="field" collection="chkfldArray" open="(" close=")" separator="," >
						#{field}
					</foreach>
			</if>
			
       	<if test="searchWord != null and searchWord.length>0">
       	AND M.NAME LIKE '%'||#{searchWord}||'%'
       	</if>
       	ORDER BY M.NAME
	</select>
</mapper>