<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.silhyun.member.map.PtgMapper">
	<select id="getPtg" resultType="co.yedam.silhyun.member.vo.PhotographerVO" parameterType="String">
		SELECT DISTINCT Z.ZZIMS,P.*, M.*,S.ST_NAME,A.PHO_RT, A.PHO_NUM,PT.UP_STA,PT.PORT_DATE
		FROM PHOTOGRAPHER P, MEMBER M,STUDIO S,(SELECT CTGR_NUM,COUNT(*) ZZIMS FROM ZZIM GROUP BY CTGR_NUM) Z,
        (SELECT PHO_RT, PHO_NUM, CTGR_NUM
		FROM PHOTO
		WHERE PHO_NUM IN (SELECT MIN(TO_NUMBER(PHO_NUM))
		FROM PHOTO
		WHERE UPPER(CTGR) = 'P'
		GROUP BY CTGR_NUM)
		ORDER BY PHO_NUM) A, PORTFOLIO PT
		WHERE P.PTG_ID = M.ID
        AND A.CTGR_NUM = PT.PORT_NUM
	    AND M.ID = Z.CTGR_NUM(+)
	    AND M.ID = S.ST_ID(+)
		AND P.PTG_ID = #{ptgId}
        AND UPPER(PT.UP_STA)='Y'
        ORDER BY PT.PORT_DATE DESC
		
<!-- 		SELECT Z.ZZIMS,P.*, M.*,S.ST_NAME -->
<!-- 		FROM PHOTOGRAPHER P, MEMBER M,STUDIO S,(SELECT CTGR_NUM,COUNT(*) ZZIMS FROM ZZIM GROUP BY CTGR_NUM) Z -->
<!-- 		WHERE P.PTG_ID = M.ID -->
<!-- 	    AND M.ID = Z.CTGR_NUM(+) -->
<!-- 	    AND P.ST_ID = S.ST_ID(+) -->
<!-- 		AND P.PTG_ID = #{ptgId} -->
	</select>
	
	<select id="getPtgLsit" resultType="co.yedam.silhyun.member.vo.PhotographerVO" parameterType="String">
		SELECT NVL(Z.ZZIMS,0),P.*,M.*
	    FROM PHOTOGRAPHER P, MEMBER M,(SELECT CTGR_NUM,COUNT(*) ZZIMS FROM ZZIM GROUP BY CTGR_NUM ORDER BY 2 DESC) Z
	    WHERE P.PTG_ID = M.ID 
        AND M.ID = Z.CTGR_NUM(+)
	    <choose>
	    	<when test="'new'.equals(searchType)"> ORDER BY P.REGI_DATE DESC</when>
	    	<when test="'name'.equals(searchType)"> ORDER BY M.NAME</when>
	    </choose>
	</select>
	
	<select id="ptgSearchList" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
		SELECT DISTINCT P.PTG_ID,M.NAME,M.PROFILE
		FROM PHOTOGRAPHER P, MEMBER M , FIELD F
		where
		P.PTG_ID = M.ID 
        AND P.PTG_ID = F.PTG_ID
		
			<if test="chkArray != null and chkArray.length>0">
					AND P.REGION_CD in <foreach item="region" collection="chkArray" open="(" close=")" separator="," >
						#{region}
					</foreach>
			</if>
			<if test="chkfldArray != null and chkfldArray.length>0">
					AND F.FD_CD in <foreach item="field" collection="chkfldArray" open="(" close=")" separator="," >
						#{field}
					</foreach>
			</if>
			
       	<if test="searchWord != null and searchWord.length>0">
       	AND M.NAME LIKE '%'||#{searchWord}||'%'
       	</if>
       	ORDER BY M.NAME
	</select>
</mapper>