<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.silhyun.member.map.PtgMapper">
	<select id="getResTime" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
<!-- 		SELECT DISTINCT P.*,RT.*,M.NAME,C.* -->
<!-- 		FROM PHOTOGRAPHER P, RESER_TIME RT, MEMBER M,CODE C -->
<!-- 		WHERE M.ID = P.PTG_ID -->
<!-- 		AND P.PTG_ID ＝ RT.PTG_ID -->
<!-- 		AND C.CD = RT.RES_TIME -->
<!-- 		AND P.PTG_ID = #{ptgId} -->
<!-- 		ORDER BY C.CD -->
		SELECT DISTINCT P.*,RT.*,M.NAME,FIND_CD(RES_TIME) REST,
		(SELECT COUNT(*) FROM RESER R WHERE R.RES_DATE = TO_DATE(#{redate},'yyyy-mm-dd') AND RT.RES_TIME =R.RES_TIME AND R.PTG_ID = P.PTG_ID) RESYN
		FROM PHOTOGRAPHER P, RESER_TIME RT, MEMBER M
		WHERE M.ID = P.PTG_ID
		AND P.PTG_ID ＝ RT.PTG_ID
		AND P.PTG_ID = #{ptgId}	
	</select>
	<select id="getReser" resultType="co.yedam.silhyun.member.vo.PhotographerVO" parameterType="String">
		SELECT DISTINCT O.*, P.*, M.*
		FROM OPTIONS O, PHOTOGRAPHER P, MEMBER M
		WHERE M.ID = P.PTG_ID
		AND P.PTG_ID = O.PTG_ID
		AND P.PTG_ID = #{ptgId}
		ORDER BY O.PRI 
	</select>

	<select id="getPtg" resultType="co.yedam.silhyun.member.vo.PhotographerVO" parameterType="String">
		SELECT * FROM( SELECT ROWNUM RN, A.* FROM( 
			SELECT DISTINCT NVL(Z.ZZIMSS,0) ZZIMS,P.*, M.*,S.ST_NAME,A.PHO_RT, A.PHO_NUM,PT.UP_STA,PT.PORT_DATE,PT.PORT_NUM
			FROM PHOTOGRAPHER P, MEMBER M,STUDIO S,(SELECT CTGR_NUM,COUNT(*) ZZIMSS FROM ZZIM GROUP BY CTGR_NUM) Z,
	        (SELECT PHO_RT, PHO_NUM, CTGR_NUM
			FROM PHOTO
			WHERE PHO_NUM IN (SELECT MIN(TO_NUMBER(PHO_NUM))
			FROM PHOTO
			WHERE UPPER(CTGR) = 'P'
			GROUP BY CTGR_NUM)
			ORDER BY PHO_NUM) A, PORTFOLIO PT
			WHERE P.PTG_ID = M.ID
	        AND PT.PTG_ID = P.PTG_ID
	        AND A.CTGR_NUM = PT.PORT_NUM
		    AND M.ID = Z.CTGR_NUM(+)
		    AND P.ST_ID = S.ST_ID(+)
			AND P.PTG_ID = #{ptgId}
	        AND UPPER(PT.UP_STA)='Y'
	        ORDER BY PORT_DATE DESC
 			<![CDATA[	
	 	) A WHERE ROWNUM <= 6) B WHERE RN >= 1
	 	 ]]>
	</select>
	
	<select id="getPtgLsit" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
	 SELECT * FROM( SELECT ROWNUM RN, A.* FROM( 
		SELECT DISTINCT NVL(Z.ZZIMSS,0) ZZIMS,P.*,M.*
	    FROM PHOTOGRAPHER P, MEMBER M,(SELECT CTGR_NUM,COUNT(*) ZZIMSS FROM ZZIM GROUP BY CTGR_NUM ORDER BY 2 DESC) Z, FIELD F
	    WHERE P.PTG_ID = M.ID 
        AND M.ID = Z.CTGR_NUM(+)
        AND P.PTG_ID = F.PTG_ID
        	<if test="vo.chkArray != null and vo.chkArray.length>0">
					AND P.REGION_CD in <foreach item="vo.region" collection="vo.chkArray" open="(" close=")" separator="," >
						#{vo.region}
					</foreach>
			</if>
			<if test="vo.chkfldArray != null and vo.chkfldArray.length>0">
					AND F.FD_CD in <foreach item="vo.field" collection="vo.chkfldArray" open="(" close=")" separator="," >
						#{vo.field}
					</foreach>
			</if>
			
	       	<if test="vo.searchWord != null and vo.searchWord.length>0">
	       			AND M.NAME LIKE '%'||#{vo.searchWord}||'%'
	       	</if>
	
	    <choose>
	    	<when test="'new'.equals(vo.searchType)"> ORDER BY P.REGI_DATE DESC</when>
	    	<when test="'name'.equals(vo.searchType)"> ORDER BY M.NAME</when>
	    	<when test="'hot'.equals(vo.searchType)"> ORDER BY NVL(Z.ZZIMS,0) DESC</when>
	    </choose>
	<![CDATA[	
	 	) A WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount}) B WHERE RN > (#{cri.pageNum}-1) * #{cri.amount}
	 ]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(DISTINCT P.PTG_ID) 
	    FROM PHOTOGRAPHER P, MEMBER M,(SELECT CTGR_NUM,COUNT(*) ZZIMS FROM ZZIM GROUP BY CTGR_NUM ORDER BY 2 DESC) Z, FIELD F
	    WHERE P.PTG_ID = M.ID 
        AND M.ID = Z.CTGR_NUM(+)
        AND P.PTG_ID = F.PTG_ID
        	<if test="vo.chkArray != null and vo.chkArray.length>0">
					AND P.REGION_CD in <foreach item="vo.region" collection="vo.chkArray" open="(" close=")" separator="," >
						#{vo.region}
					</foreach>
			</if>
			<if test="vo.chkfldArray != null and vo.chkfldArray.length>0">
					AND F.FD_CD in <foreach item="vo.field" collection="vo.chkfldArray" open="(" close=")" separator="," >
						#{vo.field}
					</foreach>
			</if>
			
	       	<if test="vo.searchWord != null and vo.searchWord.length>0">
	       			AND M.NAME LIKE '%'||#{vo.searchWord}||'%'
	       	</if>
	</select>
	
	<select id="ptgSearchList" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
		SELECT * FROM( SELECT ROWNUM RN, A.* FROM( 
		 
		SELECT DISTINCT P.PTG_ID,M.NAME,M.PROFILE
		FROM PHOTOGRAPHER P, MEMBER M , FIELD F
		WHERE
		P.PTG_ID = M.ID 
        AND P.PTG_ID = F.PTG_ID
		
			<if test="vo.chkArray != null and vo.chkArray.length>0">
					AND P.REGION_CD in <foreach item="vo.region" collection="vo.chkArray" open="(" close=")" separator="," >
						#{vo.region}
					</foreach>
			</if>
			<if test="vo.chkfldArray != null and vo.chkfldArray.length>0">
					AND F.FD_CD in <foreach item="vo.field" collection="vo.chkfldArray" open="(" close=")" separator="," >
						#{vo.field}
					</foreach>
			</if>
			
	       	<if test="vo.searchWord != null and vo.searchWord.length>0">
	       	AND M.NAME LIKE '%'||#{vo.searchWord}||'%'
	       	</if>
	       	ORDER BY M.NAME
	<![CDATA[	
	 	) A WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount}) B WHERE RN > (#{cri.pageNum}-1) * #{cri.amount}
	 ]]>
	</select>
	
	
</mapper>