<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.silhyun.common.map.ReviewMapper">

<select id="reviewList" resultType="co.yedam.silhyun.common.vo.ReviewVO">
select * from( select rownum rn, a.* from( 

	SELECT r.rev_Num, r.ctgr, r.ctgr_num, r.id, r.star, r.cntn,  r.rev_date , count(p.pho_num) as "phoY"
	    from photo p right outer join review r 
	    on p.ctgr_num = r.rev_num and p.ctgr = 'R' 
	    where r.ctgr = #{ctgr} and r.ctgr_num= #{ctgrNum}
	    GROUP by r.rev_Num, r.ctgr, r.ctgr_num, r.star, r.cntn, r.id, r.rev_date
	    <if test='cri.photo == "y"'>having count(p.pho_num)<![CDATA[ >  ]]>0</if>
	    <if test='cri.sort == "n"'>ORDER by to_number(r.rev_num) desc</if>
	    <if test='cri.sort == "s"'>ORDER by to_number(r.star) desc, to_number(r.rev_num) desc</if>
	    <if test='cri.sort == "d"'>ORDER by r.rev_date desc, to_number(r.rev_num) desc</if>
	
	
<![CDATA[	
 	) a where rownum <= #{cri.pageNum} * #{cri.amount}) b where rn > (#{cri.pageNum}-1) * #{cri.amount}
 ]]>	
</select>
<select id="getTotalCount" resultType="int">
SELECT count(count(r.rev_Num))
    from photo p right outer join review r 
    on p.ctgr_num = r.rev_num and p.ctgr = 'R'
    where r.ctgr = #{ctgr} and r.ctgr_num= #{ctgrNum}
    GROUP by r.rev_Num
   <if test='cri.photo == "y"'>having count(p.pho_num)<![CDATA[ >  ]]>0</if>

</select>

<select id="reivewSelect" resultType="co.yedam.silhyun.common.vo.ReviewVO">
	select * 
	from review
	where rev_num = #{revNum}
</select>

<insert id="reviewInsert">
		<selectKey keyProperty="revNum" resultType="String" order="BEFORE">
			SELECT 
				nvl(MAX(to_number(rev_num)), 0) + 1 AS "revNum"
			FROM review
		</selectKey>
		insert into review
		values(#{revNum}, #{ctgr}, #{ctgrNum}, #{id}, #{star}, #{cntn}, sysdate, 0)
</insert>

<delete id="reviewDelete">
	delete from review
	where rev_num = #{revNum}
</delete>

<select id="ptgStarAvg" resultType="co.yedam.silhyun.member.vo.PhotographerVO">
    select round(avg(star), 1) as "star"
    from review
    GROUP by ctgr, ctgr_num
    HAVING ctgr = #{ctgr} and ctgr_num= #{ctgrNum}
</select>

<update id="reviewUpdate">
	update review
	<set>
	<if test="star != 0 and star != null">star = #{star},</if>
	<if test="cntn != '' and cntn != null">cntn = #{cntn}</if>
	</set>
	where rev_num = #{revNum}
</update>

<select id="isReciewCheck" resultType="int">
	select case when count(*) > 0 then 1 else 0 end "reserIs"
	from reser
	where id = #{id} and ptg_id = #{ptgId}
</select>
</mapper>