<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.schedule">

	<insert id="scheduleInsert" parameterType="scheduleVO">
		<selectKey keyProperty="todoNum" resultType="String" order="BEFORE">
			SELECT 
				nvl(MAX(to_number(todo_num)), 0) + 1 AS "comNum"
			FROM schedule
		</selectKey>
			insert into schedule(todo_num
					  , id
					  , cntn
					  , todo_date)
				values(#{todoNum}
					  , 'catLove'
					  , #{cntn}
					  , #{todoDate})
	</insert>
	


</mapper>