<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{home/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- modal -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<main layout:fragment="content">
		<!-- Table -->
		<div class="py-6">
			<div class="container">
				<div class="row">
					<!-- Profile Menu -->
					<div class="col-lg-4 pb-4 pb-lg-0 col-xxl-3  pe-xxl-5">
						<div class="bg-white border border-bottom-0 shadow-lg">
							<div class="d-flex p-3 align-items-center">
								<div class="avatar avatar-lg rounded-circle">
									<img src="/img/avatar/1000x1000.jpg" title=""
										alt="">
								</div>
								<div class="col ps-3">
									<h6 class="m-0">닉네임</h6>
									<small><a href="#">이름</a></small>
								</div>
								<div>
									<button>회원변경</button>
								</div>
							</div>
							<ul class="list-unstyled mb-0 theme-link">
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/modPfAo"> <i class="fi-user me-2"></i>회원정보수정
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/resManage"> <i class="bi bi-card-checklist"></i>예약
										관리
										<div class="ms-auto badge-pill badge bg-secondary"></div>
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/classManage"> <i class="bi-play-btn me-2"></i>클래스 관리
										<div class="ms-auto badge-pill badge bg-secondary"></div>
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/mypageAoAsk"> <i class="bi-chat-square-dots me-2"></i>문의내역
										<div class="ms-auto badge-pill badge bg-secondary"></div>
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/resCalendarAo"> <i class="bi-calendar me-2"></i>캘린더
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/mypageStatsAo"> <i class="bi bi-pie-chart-fill"></i>통계
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3" href="#">
										<i class="bi-person-bounding-box me-2"></i>포토폴리오
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/reportFormAo"> <i class="bi bi-exclamation-diamond"></i>신고
										<div class="ms-auto badge-pill badge bg-secondary"></div>
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3" href="#">
										<i class="bi bi-box-arrow-left me-2"></i>회원탈퇴
								</a></li>
							</ul>
						</div>
					</div>
					<!-- End Profile Menu -->
						<div class="col-lg-8 col-xxl-9">
						<button type="button" class="btn btn-primary"
							data-bs-toggle="modal" data-bs-target="#workOption">신청하기</button>
						<br> <br>
						<!-- 모달 -->
						<div class="modal fade" id="workOption">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header bg-primary">
										<div class="modal-title p-3">
											<h5 class="m-0 text-white">신청서</h5>
										</div>&emsp;&emsp;
										<input type="radio" id="apply" name="apply" value="c" onchange="applyForm('c')"><label class="m-0 text-white">클래스</label> &nbsp;&nbsp;
										<input type="radio" id="apply" name="apply" value="e" onchange="applyForm('e')"><label class="m-0 text-white">이벤트</label>
										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="w-100 p-3">								
											<!-- Form START -->
										<form id="uploadClass" enctype="multipart/form-data">
											<div id="classApply" style="display: none;">
												<div class="mb-3">
													<label class="form-label" for="claTtl">강의명
													<input type="text" class="form-control" id="claTtl" style="width:200px;height:45px;" placeholder="강의명" ></label> 
													<label class="form-label" for="claPri">가격
													<input type="text" class="form-control" id="claPri"  style="width:200px;height:45px;" placeholder="150000"></label>
												</div>
												<div class="mb-3">
													<label class="form-label" for="claDesct">강의 내용</label> 
													<textarea cols ="40" rows="2" class="form-control"
														id="claDesct"></textarea>
												</div>
												<div class="mb-3">
												<select name="onOff" id="onOff">
													<option value="CL1">온라인</option>
													<option value="CL2">오프라인</option>
												</select>&nbsp;
												<label class="form-label" for="rcnt">수강인원  
												  <input type="text" class="form-control" id="rcnt"  style="width:100px;height:30px;" placeholder="ex)5명"></label>
												  &nbsp;
												  <label class="form-label" for="rcnt">강의가격
												  <input type="text" class="form-control" id="rcnt" style="width:100px;height:30px;"></label>&nbsp;
												  <label class="form-label" for="rcnt">수강 기간
												  <input type="text" class="form-control" id="rcnt" style="width:100px;height:30px;"></label>
												</div>
												<div class="col-sm-6 mb-3">
													<label for="formFile" class="form-label">썸네일 사진</label>
													 <input class="form-control" type="file" id="formFile">
												</div>
												<div class="col-sm-6 mb-3">
													<label for="formFile" class="form-label">OT영상</label>
													 <input class="form-control" type="file" id="formFile">
												</div>				
												<div class="row align-items-center">
													<div class="col-sm-4">
														<button type="submit" class="btn btn-dark" >확인</button>
													</div>
												</div>
												</div>

												</form>
												<form id="uploadEv" enctype="multipart/form-data">

											<div id="eventApply" style="display: none;">
												<div class="mb-3">
													<label class="form-label" for="claTtl">활동지역</label>&emsp;
														<select name="regionCd" id="regionCd">
															<option value="01">서울</option>
															<option value="02">경기</option>
															<option value="03">인천</option>
															<option value="04">강원</option>
															<option value="05">대전/충천</option>
															<option value="06">대구</option>
															<option value="07">부산/울산</option>
															<option value="08">경상</option>
															<option value="09">광주/전라</option>
															<option value="10">제주</option>
														</select>&emsp;&emsp;
													<label class="form-label" for="claPri">이벤트 작품/클래스</label>&nbsp;
													<select name="ctgrNum" id="ctgrNum">
															<option value="E">작품</option>
															<option value="C">클래스</option>
													</select>&nbsp;
												</div>
												<div class="mb-3">
													<label class="form-label" for="Eventcntn">이벤트 내용</label> 
													<textarea cols ="40" rows="2" class="form-control"
														id="eventCntn"></textarea>
												</div>
												<div class="mb-3">
												<label class="form-label" for="cntn">쿠폰 내용  
												  <input type="text" class="form-control" id="couponCntn" name="couponCntn" style="width:300px;height:30px;" placeholder="ex)5명"></label>
												&nbsp;
												  <label class="form-label" for="discount">할인율
												  <input type="text" class="form-control" id="discount" name="discount" style="width:100px;height:30px;"></label><br>
												  <label class="form-label" for="startDate">시작날짜  
												  <input type="date" class="form-control" id="startDate" name="startDate"  style="width:200px;height:30px;"></label>
												  &nbsp;
												  <label class="form-label" for="endDate">끝날짜
												  <input type="date" class="form-control" id="endDate" name="endDate" style="width:200px;height:30px;"></label>&nbsp;
												</div>
												<div class="col-sm-6 mb-3">

													<label for="formFile" class="bnph">배너 사진</label>
													 <input class="form-control" type="file"  name="formFile" id="bnph" accept="*" >

												</div>			
												<div class="row align-items-center">
													<div class="col-sm-4">

														<button type="button" name="uploadEv" class="btn btn-dark" onclick="uploadEvent()">확인</button>

													</div>
													<div class="col-sm-4">
														<input type="button" class="btn btn-dark" value="임시저장">
													</div>
													<div class="col-sm-4">
														<button type="reset" class="btn btn-dark">취소</button>
													</div>
												</div>

												<input type="hidden" id="userId "name="userId" value="user1">

											</div>
										</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--모달끝  -->
						<!-- <테이블> -->
						<div><h1>클래스관리</h1></div>
						<div class="table-responsive fs-md mb-4">
							<table class="table table-bordered table-hover mb-0">
								<thead class="text-700 bg-gray-200">
									<tr>
										<th class="fw-600">번호</th>
										<th class="fw-600">강의명</th>
										<th class="fw-600">담당기록가</th>
										<th class="fw-600">수강일정</th>
										<th class="fw-600">구분</th>
										<th class="fw-600">현재정원</th>
										<th class="fw-600 ">총정원</th>
										<th class="fw-600 ">수강자 조회</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="p-3"><span class="fw-500">Order is not
												delivered</span></td>
										<td class="p-3">May 21, 2021</td>
										<td class="p-3">Delivered</td>
										<td class="p-3"><span class="badge bg-danger m-0">High</span></td>
										<td class="p-3"><span class="badge bg-danger m-0">High</span></td>
										<td class="p-3 ">5</span></td>
										<td class="p-3 ">5</span></td>
										<td class="p-3 "><span class="btn btn-mini">수강자 조회</span></td>

									</tr>

								</tbody>
							</table>
						</div>
						<div class="d-flex align-items-center mt-3">

							<div class="ms-lg-auto">
								<ul class="pagination m-0">
									<li class="page-item"><a class="page-link" href="#"
										aria-label="Previous"> <span aria-hidden="true">«</span>
									</a></li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#"
										aria-label="Next"> <span aria-hidden="true">»</span>
									</a></li>
								</ul>
							</div>
						</div>
						
						</div>
				</div>
			</div>
		</div>
		<!-- End Table -->

<script>
function applyForm(n){
	if(n == 'c'){
		document.getElementById('classApply').setAttribute('style','display:block')
		document.getElementById('eventApply').setAttribute('style','display:none')
	}else if(n == 'e'){
		document.getElementById('eventApply').setAttribute('style','display:block')
		document.getElementById('classApply').setAttribute('style','display:none')
		
	}
} 

 function uploadEvent(){
		//let sel=document.getElementById('regionCd').value;
	var formData = new FormData();

	 var inputFile = $("#uploadEv");
	 var files= inputFile[0].files;
	 console.log(files);
	 formData.append()
	$.ajax({
		url:'/applyEvent',
		method:'POST',
		data:formData,
		dataType:'json',
		contentType:"applictaion/json",
		success:function(result){
			alert("제출이 성공적으로 되었습니다.");
		},
		error:function(reject){
			alert("전송이 실패하였습니다.");
		}
		
	});
}

//form데이터 전송
function dataSubmit() {
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
 
    var data=new FormData($("#storeAddForm")[0]);
 
    $.ajax({
        beforeSend: function(xhr){
            xhr.setRequestHeader(header,token);
        },
        url: "url",
        data: data,
        processData:false,
        contentType:false,
        enctype:'multipart/form-data',
        type:"POST",
    }).done(function (fragment) {
        $("#resultDiv").replaceWith(fragment);
    });
}



</script>
		</main>
</body>
</html>