/* 검색창 */
.form {
	position: relative;
}

.form .bi-search {
	position: absolute;
	top: 9px;
	left: 15px;
	color: #9ca3af;
}

.form span {
	position: absolute;
	right: 11px;
	top: 6px;
	padding: 2px;
	border-left: 1px solid #d1d5db;
}

.left-pan {
	padding-left: 110px;
}

.left-pan i {
	padding-left: 120px;
}

.form-input {
	width: 20rem;
	height: 40px;
	text-indent: 18px;
	border-radius: 10px;
}

.form-input:focus {
	box-shadow: none;
	border: 1px solid #d1d5db;
}

/* 둘러보기 태그 버튼 */
.btn.btn-sm.active {
	border-radius: 20px;
	width: 120px;
}

.shop-top-bar .layout-change .btn {
	border-radius: 20px;
	width: 120px;
}

/* 포트폴리오 사진 list */
.col-6 {
	flex: 0 0 auto;
	width: 33.3%;
	
}
/* 포트폴리오컨테이너? */
.col-lg-6.lightbox-gallery.sticky-lg-top.sticky-lg-top-header {
	flex: 0 0 auto;
	width: 35%;
}
/* 작가사세컨테이너 */
.col-lg-6.ps-lg-5.pt-5.pt-lg-0 {
	flex: 0 0 auto;
	width: 65%;
}
/* 작가상세예약리뷰버튼 */
.cart-button.mb-3.d-flex button {

	border-radius: 2px;
}
/* 포트폴리오등록하기버튼 */
.btn.btn-port.me-3 {
	background-color: black;
	color: white;
	border: none;
	border-radius: 2px;
}
/* 조아요치우기 */
.rating-star.text.small.pb-4{
	float: right;
	width: 10%;
	text-align:center;
	font-weight: bolder;
}


/* 모달 시작 */
/* 모달블랙 */
#modal.modal-overlay {
         width: 100%;
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         display: none;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background: rgba(1, 1, 1, 0.8);
         box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
         backdrop-filter: blur(1.5px);
         -webkit-backdrop-filter: blur(1.5px);
         border-radius: 10px;
         border: 1px solid rgba(255, 255, 255, 0.18);
         z-index:9000; 
}
#modal .modal-window {
	background-color:white;
    box-shadow: 0 8px 32px 0 rgba(153, 153, 153, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 60%;
    height: 90%;
    position: relative;
    top: -100px;
    padding: 10px;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    color: white;
    
}
#modal .title h2 {
    display: inline;
}
#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    color: gray;
}
#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    color: gray;
}
/* 모달끝 */