*{
	border:solid 1px gray;
}
#modal{
/* 	display:none; */	
}
/* .modal-overlay 젏Ч方 */
.modal-overlay{
	position: fixed;
	background-color:rgba(0, 0, 0, 0.349);
/*  	justify-content: center; */
	align-items: center;
	height:100%;
	width:100%;
}

/* .close-area젏Р遮 X첔 */
.close-area{
	float:right;
	display:inline-block;
}
/* .modal-window젏칙 췷(瑁+앁少♣얙쏮찕) */
.modal-window{
	display: flex;
    align-items: center;
/*     justify-content: center; */

    width:80%;
    height:88%;
}
/* .modal-picture 젏 瑁兮찕 */
.modal-picture{	
	 
	width:55%;
	float:left;
	
}
.modal-picture img{
	
	left:0;
	width:100%
	}
/* .modal-content젏컈쾇必찕 */
.modal-content{
	width:45%;
	float:right;
}
/* .modal-writer-info젏Ю┝첔촋줮캸 */
.modal-writer-info{
	position:fixed;
	top:0px;
	
}
/* .modal-content-review젏С燒퍘엄쐍쟕쫔퀉캸 */
/* modal-heart-reviewInsert젏Я쮅鍛紫邰첇윝엄쐍첎췎뭯 */