<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{home/layout}">
      <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script> <!--제이쿼리-->

<body>
    <div layout:fragment="content">
        <section class="product-details py-6">
            <div class="container">
                <div class="row">
                    <!-- Product Gallery -->
                    <div class="col-lg-6 lightbox-gallery product-gallery">
                        <div class="swiper swiper_gallery">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="pd-gallery-slide">
                                        <a class="gallery-link" th:href="${cInfo.thni}"><i
                                                class="bi bi-arrows-fullscreen"></i></a>
                                        <img th:src="${cInfo.thni}" class="img-fluid" title="" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <!-- End Product Gallery -->
                    <!-- Product Details -->
                    <div class="col-lg-6 ps-lg-5">
                        <div class="product-detail pt-4 pt-lg-0">
					<form action="/pay/orderFormCla" method="post">
                            <div class="products-brand pb-2">
                            <a></a>
                                <span th:text="${plusInfo.fdCd}"></span>
                            </div>
                            <div class="products-title mb-2">
                                <h4 class="h4 claTtl" th:id="${cInfo.classNum}"  th:text="${cInfo.claTtl}"></h4>
                            </div>
                            <div class="rating-star text small pb-4">
                                  <span th:each="star : ${#numbers.sequence(1, 5)}">
    <i th:if="${plusInfo.starAvg >= star}" class="bi bi-star-fill active"></i>
    <i th:if="${plusInfo.starAvg >= star - 0.5 && plusInfo.starAvg < star}" class="bi bi-star-half active"></i>
    <i th:if="${plusInfo.starAvg < star - 0.5}" class="bi bi-star"></i>

  </span>
&nbsp;    <small th:text="${plusInfo.starAvg} +' / ' "></small>
                                <small th:text="${plusInfo.rvCnt}"></small><small> Reviews</small>
                            </div>
                            <div class="product-description">
                                <p th:text="${cInfo.claDesct}">강의에 대한 어떤 멋진 설명</p>
                            </div>

                            <div class="product-price fs-3 fw-500 mb-2">
                                <span class="text-primary claPri" th:text="${cInfo.claPri}+'원(VAT포함가)'"></span>
                            </div>
                            <br>
                            
                            <div class="product-detail-actions d-flex flex-wrap pt-3">
                                <div class="cart-button mb-3 d-flex">
                                    
                        <button th:if="${plusInfo.buyYN == 0}" class="btn btn-dark me-3" type="submit">
    <i class="fi-shopping-cart"></i> 구입하기
</button>

<button th:if="${plusInfo.buyYN == 1}" type="button" class="btn btn-primary me-3" 
th:onclick="|location.href='@{/silhyun/classes/myClassesVideos(classNum=${cInfo.classNum}) }'|">
    💖 내 학습방
</button>                            
                         
                         
                                    <button type="button" class="btn btn-outline-dark me-3">
                                        <i class="fi-heart"></i> 찜
                                    </button>
                                           </div>
                            </div>
                            <div class="product-info-buttons nav pt-4">
                                             </div>
                    <input type="hidden" name="id" th:value="${session.id}">
                    <input type="hidden" name="ptgId" th:value="${cInfo.ptgId}">
                    <input type="hidden" name="claTtl">
                    <input type="hidden" name="resPri">
                    <input type="hidden" name="classNum">
                    
    </form>
                        </div>
                        
                        <br>
                        <br>
                        <br>
                        <br>
                         <br>
                         <br>
                                                    <div class="pt-3 border-top mt-3 small">
               
                            </div>

                            <div class="pt-4">
                                <img class="img-fluid" src="/img/fashion/payment-details.png" title="" alt="">
                            </div>
                    </div>
                
                    <!-- End Product Details -->
                </div>
            </div>
        </section>
        <!-- End Product Details -->
        <!-- Product Tabs -->
        <section class="pb-6 py-md-6 pb-lg-10 pt-lg-5">
            <div class="container">
                <div class="product-tabs">
                    <ul class="nav product-nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link active" id="pd_description_tab" data-bs-toggle="tab"
                                data-bs-target="#pd_description" role="tab" aria-controls="pd_description"
                                aria-selected="true">강의 소개</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link" id="pd_information_tab" data-bs-toggle="tab"
                                data-bs-target="#px_information" role="tab" aria-controls="px_information"
                                aria-selected="false">커리큘럼</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link" id="pd_reviews_tab" data-bs-toggle="tab"
                                data-bs-target="#pd_reviews" role="tab" aria-controls="pd_reviews"
                                aria-selected="false">후기</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="pd_description" role="tabpanel"
                            aria-labelledby="pd_description_tab">
                            <div class="row">
                                <div class="col-lg-7 pe-lg-10">
                                    <h5>기록가가 쓴 멋진 강의 설명</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <h5 class="pt-3">기록가의 어떤 리스트</h5>
                                    <ul class="mb-5">
                                        <li>Comodous in tempor ullamcorper miaculis</li>
                                        <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
                                        <li>Divamus sit amet purus justo.</li>
                                        <li>Proin molestie egestas orci ac suscipit risus posuere loremous</li>
                                    </ul>
                                    <h5>기록가의 어떤 리스트2</h5>
                                    <ol>
                                        <li>Comodous in tempor ullamcorper miaculis</li>
                                        <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
                                        <li>Divamus sit amet purus justo.</li>
                                        <li>Proin molestie egestas orci ac suscipit risus posuere loremous</li>
                                    </ol>
                                    <blockquote
                                        class="bg-gray-100 p-3 lead fw-400 mt-5 text-dark border-start border-primary border-5"
                                        th:text="'작가소개 :  '+${plusInfo.itr}">
                                        
                                    </blockquote>
                                </div>
                                <div class="col-lg-5">
                                    <div class="pb-3">
                                    <a></a>
                                    
                                    <div id="player"></div>
                                    <p style="display: none;"  th:text="${cInfo.ot}" id="ot"></p>


                                    </div>
                                    <div class="row g-3">
                                        <div class="col-sm-6">
                                            <div class="d-flex border p-3">
                                                <div class="fs-1 text-primary">
                                                    <i class="bi bi-truck"></i>
                                                </div>
                                                <div class="col ps-3">
                                                    <h6 class="mb-1">Free shipping</h6>
                                                    <p class="m-0">Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="d-flex border p-3">
                                                <div class="fs-1 text-primary">
                                                    <i class="bi bi-headphones"></i>
                                                </div>
                                                <div class="col ps-3">
                                                    <h6 class="mb-1">Contact us 24/7</h6>
                                                    <p class="m-0">Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="d-flex border p-3">
                                                <div class="fs-1 text-primary">
                                                    <i class="bi bi-box-arrow-in-left"></i>
                                                </div>
                                                <div class="col ps-3">
                                                    <h6 class="mb-1">30 Days Return</h6>
                                                    <p class="m-0">Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="d-flex border p-3">
                                                <div class="fs-1 text-primary">
                                                    <i class="bi bi-shield-lock"></i>
                                                </div>
                                                <div class="col ps-3">
                                                    <h6 class="mb-1">100% Secure Payment</h6>
                                                    <p class="m-0">Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="px_information" role="tabpanel"
                            aria-labelledby="pd_information_tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <table class="table text-sm">
                                        <tbody>
                                            <tr>
                                                <th class="fw-500 text-dark">Product #</th>
                                                <td class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisic
                                                    elit</td>
                                            </tr>
                                            <tr>
                                                <th class="fw-500 text-dark">Available packaging</th>
                                                <td class="text-muted ">consectetur adipisic elit eiusm tempor</td>
                                            </tr>
                                            <tr>
                                                <th class="fw-500 text-dark">Weight</th>
                                                <td class="text-muted ">Ut enim ad minim venialo quis nostrud</td>
                                            </tr>
                                            <tr>
                                                <th class="fw-500 text-dark">Sunt in culpa qui</th>
                                                <td class="text-muted ">labore et dolore magna aliqua.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6">
                                    <table class="table text-sm">
                                        <tbody>
                                            <tr>
                                                <th class="fw-500 text-dark">Weight</th>
                                                <td class="text-muted">dolor sit amet </td>
                                            </tr>
                                            <tr>
                                                <th class="fw-500 text-dark">Sunt in culpa qui</th>
                                                <td class="text-muted ">Lorem ipsum dolor sit amet </td>
                                            </tr>
                                            <tr>
                                                <th class="fw-500 text-dark">Product #</th>
                                                <td class="text-muted ">Lorem ipsum dolor sit amet </td>
                                            </tr>
                                            <tr>
                                                <th class="fw-500 text-dark">Available packaging</th>
                                                <td class="text-muted ">Lorem ipsum dolor sit amet </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pd_reviews" role="tabpanel" aria-labelledby="pd_reviews_tab">
                            <div class="row">
                                <div class="col-lg-8 pe-lg-8">
                                    <div class="row align-items-end">
                                        <div class="col-sm-6">
                                            <h5 class="m-0">Reviews</h5>
                                            <div class="rating-star small">
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star"></i>
                                                <span>4.85/5 (400 Reviews)</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-sm-end">
                                            <a href="#">View all review</a>
                                        </div>
                                    </div>
                                    <div class="d-flex review-box border-top mt-4 pt-4">
                                        <div>
                                            <div class="review-image">
                                                <img class="img-fluid" src="/img/fashion/1000x1000.jpg" title="" alt="">
                                            </div>
                                        </div>
                                        <div class="col ps-3">
                                            <h6>Nancy Bayer</h6>
                                            <div class="rating-star small">
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star"></i>
                                                <span>13 April 2012</span>
                                            </div>
                                            <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
                                        </div>
                                    </div>
                                    <div class="d-flex review-box border-top mt-4 pt-4">
                                        <div>
                                            <div class="review-image">
                                                <img class="img-fluid" src="/img/fashion/1000x1000.jpg" title="" alt="">
                                            </div>
                                        </div>
                                        <div class="col ps-3">
                                            <h6>Nancy Bayer</h6>
                                            <div class="rating-star small">
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star"></i>
                                                <span>13 April 2012</span>
                                            </div>
                                            <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
                                        </div>
                                    </div>
                                    <div class="d-flex review-box border-top mt-4 pt-4">
                                        <div>
                                            <div class="review-image">
                                                <img class="img-fluid" src="/img/fashion/1000x1000.jpg" title="" alt="">
                                            </div>
                                        </div>
                                        <div class="col ps-3">
                                            <h6>Nancy Bayer</h6>
                                            <div class="rating-star small">
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star"></i>
                                                <span>13 April 2012</span>
                                            </div>
                                            <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
                                        </div>
                                    </div>
                                    <div class="d-flex review-box border-top mt-4 pt-4">
                                        <div>
                                            <div class="review-image">
                                                <img class="img-fluid" src="/img/fashion/1000x1000.jpg" title="" alt="">
                                            </div>
                                        </div>
                                        <div class="col ps-3">
                                            <h6>Nancy Bayer</h6>
                                            <div class="rating-star small">
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star-fill active"></i>
                                                <i class="bi small bi-star"></i>
                                                <span>13 April 2012</span>
                                            </div>
                                            <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="border p-4 sticky-lg-top review-form mt-4 mt-lg-0">
                                        <h5 class="mb-3 pb-3 border-bottom">WRITE A REVIEW</h5>
                                        <form>
                                            <div class="row g-2">
                                                <div class="col-sm-6">
                                                    <label class="form-label">Name</label>
                                                    <input type="text" name="name" class="form-control form-control-sm">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="form-label">Email</label>
                                                    <input type="text" name="email"
                                                        class="form-control form-control-sm">
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="form-label m-0 pe-3 w-100">Rating</label>
                                                    <div class="rating-star">
                                                        <i class="bi small bi-star-fill"></i>
                                                        <i class="bi small bi-star-fill"></i>
                                                        <i class="bi small bi-star-fill"></i>
                                                        <i class="bi small bi-star-fill"></i>
                                                        <i class="bi small bi-star-fill"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="form-label">Review Title</label>
                                                    <input type="text" name="review"
                                                        class="form-control form-control-sm">
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="form-label">Body of Review (1500)</label>
                                                    <textarea rows="5" class="form-control"></textarea>
                                                </div>
                                                <div class="col-sm-12 pt-2">
                                                    <button class="btn btn-primary">Submit Review</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product Tabs -->

  <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center mb-4 mb-lg-6">
                        <div class="col-lg-6 text-center">
                        <h3 class="h2 mb-2">이런 강의는 어떠세요?</h3>
                        <p class="fs-6 m-0">새로운 강의들을 확인해보세요.</p>
                        </div>
                    </div>

                <div class="swiper-wrapper">
                

                    
                    
                    
                    <div class="swiper-slide" th:each="random, sts : ${randomList}" th:Class="${sts}">
                        <div class="product-card-1" style="width:324px;height:460px;">
                            <div class="product-card-image">
                                <div class="badge-ribbon">
                                    <span class="badge bg-danger">Best</span>
                                </div>
                                <div class="product-action">
                                    <a class="btn btn-outline-primary">
                                        <i class="fi-heart"></i>
                                    </a>
                                </div>
                                <div class="product-media">
                                    <a href="#">
                                        <img class="img-fluid" th:src="${random.THNI}" title="" alt="">
                                    </a>
                                    <div class="product-cart-btn">
                                        <a href="#" class="btn btn-primary btn-sm w-100">
                                            <i class="fi-eye"></i>
                                            상세 보기
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-info">
                                <div class="product-meta small">
                                    <a href="#" th:text="${random.FCD}"></a>
                                </div>
                                <div class="rating-star text">
                <span th:each="star : ${#numbers.sequence(1, 5)}">
    <i th:if="${random.STAR >= star}" class="bi bi-star-fill active"></i>
    <i th:if="${random.STAR >= star - 0.5 && random.STAR < star}" class="bi bi-star-half active"></i>
    <i th:if="${random.STAR < star - 0.5}" class="bi bi-star"></i>
  </span>
                                            <a th:text="${random.STAR}"></a>
                                        </div>
                                        <h6 class="product-title">
<a th:href="@{/silhyun/classes/classesInfo(classNum=${random.CNUM}, id='catLove')}" th:text="${random.TTL}"></a>
                                </h6>
                                        <a th:text="${random.NAME}"> </a><br>
                         
                                    </div>
                            </div>
                        </div>
</div>
</div>
            </section>
                

<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript">
  var player;
  var interval;

  function onPlayerReady(event) {
    console.log("onReady");
  }

  function onYouTubeIframeAPIReady() {
    var youtubeUrl = document.getElementById("ot").textContent;
    var youtubeId = youtubeUrl.match(/^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/)[7];
    console.log("잘라낸 아이디"+youtubeId);

    if (player) {
      player.loadVideoById(youtubeId);
    } else {
      player = new YT.Player('player', {
        height: '315px',
        width: '524px',
        videoId: youtubeId,
        playerVars: {
          start: 0
        },
        events: {
          'onReady': onPlayerReady
        }
      });
    }
  }
  
    //▶결제전 확인 페이지에 정보 넘기기
    $(function(){
    	console.log($('.h4.claTtl').text())
    	let claTtl = $('.h4.claTtl').text();
    	$('input[name="claTtl"]').val(claTtl)
    	let resPri = $('.text-primary.claPri').text().replace(/[^0-9]/g,'');
        console.log(resPri)
        $('input[name="resPri"]').val(resPri)
        let classNum = $('.h4.claTtl').attr('id')
        console.log(classNum)
        $('input[name="classNum"]').val(classNum)
    
    })
</script>
</div>
</body>

</html>