<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{home/layout}">
<body>
<div layout:fragment="content">



<div class="container">
<br>
        <section
          class="section bg-cover bg-center"
          style="background-image: url(/img/freeC.jpg)"
        >
          <div class="container">
            <div class="row justify-content-center py-10">
              <div class="col-lg-6 text-center">
                <h6 class="mb-3" style=" font-weight: bolder;">첫 걸음이 망설여지시나요?</h6>
                <h3 class="display-3 fw-500" style=" font-weight: bolder;">FREE CLASS</h3>
                <p class="lead text-dark" style=" font-weight: bolder;">
                  실현하다의 수준높은 강의를 무료로 만나보세요!
                </p>
              </div>
            </div>
          </div>
        </section>
</div>
            
            <br>
            <br>
            
       <section class="section pt-0">
                <div class="container">

                    <div>
                        <p><b>온라인 강의💻</b></p>
                    </div>
                    
                    <div>
                        <div class="tab-content" id="home-6_tabsContent">
                            <!-- Tab pane -->
                            <div class="tab-pane fade show active" id="h6_tab_1" role="tabpanel"
                                aria-labelledby="h3_tabnav_1">
                            
                            
                            
                            
                                <div class="row g-3 g-lg-4"  th:each="c2, sts : ${fC2List}" th:Class="${sts}">
                                    <!-- Product Box -->
                                    <div class="col-6 col-lg-3" style="float: left; margin-bottom: 20px">
                                        <div class="product-card-7" >
                                            <div class="product-card-image"  style="width: 300px; height: 300px">
                                                <div class="badge-ribbon">
                                                <!-- IF 해서 이 부분 이벤트 있으면 살리고 없으면 지우면 됨 -->
                                                    <span class="badge bg-warning">BEST</span>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#" class="btn btn-dark">
                                                        <i class="fi-heart"></i>
                                                    </a>
    
                                                </div>
                                                <div class="product-media">
                                                    <a href="#">
                                                        <img class="img-fluid"
                                                            th:src="${c2.THNI}" title="" 
                                                            alt="">
                                                    </a>
                                                </div>
                                                <div class="product-cart-btn">
                                                    <a class="btn btn-primary">
                                                        <i class="fi-eye"></i>
                                                        상세 보기
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-card-info">
                                                <div class="rating-star text">
                                                    <i class="bi bi-star-fill active"></i>
                                                    <i class="bi bi-star-fill active"></i>
                                                    <i class="bi bi-star-fill active"></i>
                                                    <i class="bi bi-star-fill active"></i>
                                                    <i class="bi bi-star"></i>
                                                    <a  th:text="${c2.STAR}"></a>
                                                </div>
                                                <h6 class="product-title">                                         
                                                     <a href="/classesInfo" th:text="${c2.TTL}"></a>                                                                                           
                                                </h6>
                                                <div class="product-price">
                                                    <span class="text-primary" th:text="${c2.CPRI}"></span><small>원</small>
                                                  <!-- 세일하면 할 거 
                                                    <del class="fs-sm text-muted">999999999<small>원</small></del>
                                                   -->
                                                </div>
                                                <a th:text="${c2.NAME}"> </a><br>
                                                <a th:text="'총 '+ ${c2.CNT}+'강'"> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Product Box -->
                            	</div>
                            	
                            	
                            	
                            	
                            	
                            	
                            	
                            	
                         <!-- 인라인 블록 줄바꿈용 -->
                         <p style="clear: both;"></p>	
                            	
                            </div>
                        </div>
                        <!-- End Tab Content -->
                    </div>
<div style="margin-bottom: 500px">
                        <p><b>오프라인 강의🚗</b></p>
                    
                    
                                 <div class="row g-3 g-lg-4"  th:each="c1, sts : ${fC1List}" th:Class="${sts}">
                                    <!-- Product Box -->
                                    <div class="col-6 col-lg-3" style="float: left; margin-bottom: 20px">
                                        <div class="product-card-7" >
                                            <div class="product-card-image"  style="width: 300px; height: 300px">
                                                <div class="badge-ribbon">
                                                <!-- IF 해서 이 부분 이벤트 있으면 살리고 없으면 지우면 됨 -->
                                                    <span class="badge bg-warning">BEST</span>
                                                </div>
                                                <div class="product-action">
                                                    <a href="#" class="btn btn-dark">
                                                        <i class="fi-heart"></i>
                                                    </a>
    
                                                </div>
                                                <div class="product-media">
                                                    <a href="#">
                                                        <img class="img-fluid"
                                                            th:src="${c1.THNI}" title="" 
                                                            alt="">
                                                    </a>
                                                </div>
                                                <div class="product-cart-btn">
                                                    <a class="btn btn-primary">
                                                        <i class="fi-eye"></i>
                                                        상세 보기
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-card-info">
                                                <div class="rating-star text">
                                                    <i class="bi bi-star-fill active"></i>
                                                    <i class="bi bi-star-fill active"></i>
                                                    <i class="bi bi-star-fill active"></i>
                                                    <i class="bi bi-star-fill active"></i>
                                                    <i class="bi bi-star"></i>
                                                    <a  th:text="${c1.STAR}"></a>
                                                </div>
                                                <h6 class="product-title">                                         
                                                     <a href="/classesInfo" th:text="${c1.TTL}"></a>                                                                                           
                                                </h6>
                                                <div class="product-price">
                                                    <span class="text-primary" th:text="${c1.CPRI}"></span><small>원</small>
                                                  <!-- 세일하면 할 거 
                                                    <del class="fs-sm text-muted">999999999<small>원</small></del>
                                                   -->
                                                </div>
                                                <a th:text="${c1.NAME}"> </a><br>
                                                <a th:text="${c1.CPLACE}+' / '+${c1.CTIME}"> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Product Box -->
                            	</div>
                    </div>
                    
                    </div>
                    </section>
                    </div>
                   
                   
    <div>
    </div>
    <div>
</div>

<br>
<br>
</body>
</html>