<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="page">
	<table class="table">
		<thead>
			<tr>
				<th>no</th>
				<th>작성자</th>
				<th>내용</th>
				<th>작성일</th>
				<th>조회수</th>
			</tr>
		</thead>
		<tbody>
				<tr th:each="rev, sts : ${list}">
					<td th:text="${page.total-(page.criteria.pageNum-1)*page.criteria.amount-sts.index}">
					<td th:text="${rev.id}"></td>
					<td th:text="${rev.cntn}"></td>
					<td th:text="${#dates.format(rev.revDate, 'yyyy년MM월dd일')}"></td>
					<td th:text="${rev.hit}"></td>
				</tr>
		</tbody>
	</table>
	</div>
</body>
</html>