<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>회원탈퇴 완료</title>
	<style>
		body {
			font-family: sans-serif;
			background-color: #f0f0f0;
		}
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 50px;
		}
		h1 {
			margin-top: 0;
		}
		.btn {
			display: inline-block;
			padding: 10px 20px;
			background-color: #b96f4a;
			color: #fff;
			font-size: 16px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			text-decoration: none;
			margin-top: 30px;
		}
		.btn:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>회원탈퇴가 완료되었습니다.</h1>
		<br>
		<h1>그 동안 실현하다를 이용해주셔서 감사했습니다.</h1>
		<h1>보다 나은 서비스로 다시 찾아 뵙겠습니다.</h1>
		<a href="" class="btn">메인 페이지로 이동</a>
	</div>
</body>
</html>