<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashBoard}">
<body>
<div layout:fragment="content">

            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h3 class="page-title">이벤트 관리/등록</h3>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                          <li><a> </a></li>
                            </ol>

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
          
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row" id="memberList">
                    <div class="col-sm-12">
                        <div class="white-box">
                        <div>
                         <h5 class="page-title"><input type="checkbox">종료된 이벤트 포함 </h5>
                            <p class="text-muted" style="float:left; font-size:16px; margin-top:3px;" ><code>2023/03/01</code>
                            &emsp; 진행예정 이벤트: <code>5 </code>&nbsp;진행중인 이벤트: <code>5 </code>&nbsp;
                            </p>
                                <form role="search" class="app-search d-none d-md-block me-3">
               
                            <ul style="list-style:none;float:right;">
								<li>		
                            <select style= "width:80px;height:30px;font-size:16px;border:none;">
                               <option value="">전체</option>
                               <option value="">이벤트명</option>
                               <option value="">작가아이디</option>
                               <option value="">진행일수</option>
                               <option value="">시작일자</option>
                               <option value="">배너표시여부</option>
                               <option value="">쿠폰발행상태</option>
                               <option value="">진행상태</option>
                            </select>
                                <input type="text" placeholder="Search..." class="form-control mt-0"
                                style="display:inline-block;width:300px;height:30px;font-size:16px;">
                                <a href="" class="active">
                                    <i class="fa fa-search"></i>
                                </a>
								</li>                            
                            </ul>
                            </form>
                        </div>
	
	               <br>
					<hr>
   
                            
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">이벤트명</th>
                                            <th class="border-top-0">작가아이디</th>
                                            <th class="border-top-0">진행일수</th>
                                            <th class="border-top-0">시작일자</th>
                                            <th class="border-top-0">내용상세보기</th> 
                                            <th class="border-top-0">배너표시여부</th>
                                            <th class="border-top-0">쿠폰발행상태</th>
                                            <th class="border-top-0">진행상태</th>
                                            <th class="border-top-0">삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Deshmukh</td>
                                            <td>Prohaska</td>
                                            <td>@Genelia</td>
                                            <td>admin</td>
 
                                           <td>
                                              <a data-bs-toggle="modal" data-bs-target="#px-quick-view" href="javascript:void(0)" class="btn btn-outline-primary">
                                                    <i class="fi-eye">상세보기</i>
                                                </a>
                                           </td>
                                            <td>Prohaska</td>
                                            <td>@Genelia</td>
                                            <td>admin</td>
                                            <td><button type="button">삭제</button>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                      </div>
                      
                      
                      <!-- Quick View  -->
<div class="modal-quick-view modal fade" id="px-quick-view" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body p-3">
        <div align="right">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
                <div class="row">
                    <!-- Product Gallery -->
                    <div class="col-lg-6 lightbox-gallery product-gallery">
                    <h5><b>*배너</b></h5> 
                     <img src="/img/banner2.jpg" class="img-fluid" title="" alt="">
                    <hr>
                    <h5><b>*썸네일</b></h5>               
                        <img src="/img/bestC.jpg" class="img-fluid" title="" alt="">
                    </div>
                    <!-- End Product Gallery -->
                    <!-- Product Details -->
                    <div class="col-lg-6">                   
                        <div class="product-detail pt-4">
                            <div class="products-title mb-2">
                            <h5><b>*이벤트명</b></h5>
                                <h6>멋진 이벤트</h6>                              
                        <hr>
                                <h5><b>*기한</b></h5>
                                <p>15일간</p>
                          <hr>  
                                <h5><b>*이벤트내용</b></h5>
                                <p>내용내용</p>
            </div>
                        </div>
                    </div>
                    <!-- End Product Details -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Quick View  -->
                      
                      
                      
                      
                      
                      
                      
                      

</div>
</body>
</html>