<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashBoard}">
   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<body>
<div layout:fragment="content">
   
               <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">탈퇴 관리</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                          <li><a> </a></li>
                            </ol>

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row" id="memberList">
                    <div class="col-sm-12">
                        <div class="white-box">
                        <div>
                            <h3 class="box-title">탈퇴 회원</h3>
                                <form role="search" class="app-search d-none d-md-block me-3">
               
                            <ul style="list-style:none;float:right;">
								<li>		
                            <select style= "width:80px;height:30px;font-size:16px;border:none;">
                               <option value="">#번호</option>
                               <option value="">아이디</option>
                               <option value="">탈퇴일</option>
                               <option value="">탈퇴사유</option>
                               <option value="">상세사유</option>
                            </select>
                                <input type="text" placeholder="Search..." class="form-control mt-0"
                                style="display:inline-block;width:300px;height:30px;font-size:16px;">
                                <a href="" class="active">
                                    <i class="fa fa-search"></i>
                                </a>
								</li>                            
                            </ul>
                            </form>
                        </div>
	
	               <br>
					<hr>

                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#번호</th>
                                            <th class="border-top-0">멤버아이디</th>
                                            <th class="border-top-0">탈퇴일자</th>
                                            <th class="border-top-0">탈퇴사유</th>
                                            <th class="border-top-0">탈퇴상세사유</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           <tr th:each="qt,sts : ${qtList}" th:Class="${sts}">                                
                                            <td th:text="${sts.count}"></td>    
                                            <td th:text="${qt.Id}"></td>
                                            <td th:text="${qt.quitDate}"></td>
                                            <td th:text="${qt.quitCd}"></td>
                                            <td th:text="${qt.detaResn}"></td>
                                            <td><button type="button" class="btn btn-danger" style="color:white;">삭제</button></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
     
                
                
                
                      </div>
                                      <!-- ============================================================== -->
                <!-- PRODUCTS YEARLY SALES -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">탈퇴 사유 통계</h3>
          <div align="center">
<canvas id="myChart" width="1200" height="400"></canvas>
          </div>
        
                        </div>
                    </div>
                </div>
                
                   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
             <script th:inline="javascript">

                var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // 만들기 원하는 차트의 유형
    type: 'pie',

    // 데이터 집합을 위한 데이터
    data: {
		labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: 'My First dataset',
        	data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
            	'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(255, 206, 86, 0.2)',
				'rgba(75, 192, 192, 0.2)',
				'rgba(153, 102, 255, 0.2)',
				'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
				'rgba(255, 99, 132, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
				'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2,
        }]
    },

    // 설정은 여기서 하세요
options: {
			responsive: false,
		}
});
</script>
</div>
</body>
</html>