<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashBoard}">
<body>
<div layout:fragment="content">
   
               <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">탈퇴 관리</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                          <li><a> </a></li>
                            </ol>

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row" id="memberList">
                    <div class="col-sm-12">
                        <div class="white-box">
                        <div>
                            <h3 class="box-title">회원</h3>
                            <p class="text-muted" style="float:left; font-size:16px; margin-top:3px;" ><code>2023/03/01</code> 미승인 요청
                            &emsp;기록가:<code>5 </code>&nbsp;사진관:<code>5 </code>&nbsp;클래스:<code>0 </code>&nbsp;이벤트:<code>5</code>
                            </p>
                                <form role="search" class="app-search d-none d-md-block me-3">
               
                            <ul style="list-style:none;float:right;">
								<li>		
                            <select style= "width:80px;height:30px;font-size:16px;border:none;">
                               <option value="">#번호</option>
                            </select>
                                <input type="text" placeholder="Search..." class="form-control mt-0"
                                style="display:inline-block;width:300px;height:30px;font-size:16px;">
                                <a href="" class="active">
                                    <i class="fa fa-search"></i>
                                </a>
								</li>                            
                            </ul>
                            </form>
                        </div>
	
	               <br>
					<hr>
   
                            
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#번호</th>
                                            <th class="border-top-0">멤버아이디</th>
                                            <th class="border-top-0">탈퇴일자</th>
                                            <th class="border-top-0">탈퇴사유</th>
                                            <th class="border-top-0">탈퇴상세사유</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           <tr th:each="qt,sts : ${qtList}" th:Class="${sts}">                                
                                            <td th:text="${sts.count}"></td>    
                                            <td th:text="${qt.Id}"></td>
                                            <td th:text="${qt.quitDate}"></td>
                                            <td th:text="${qt.quitCd}"></td>
                                            <td th:text="${qt.detaResn}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                      </div>
                                      <!-- ============================================================== -->
                <!-- PRODUCTS YEARLY SALES -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Products Yearly Sales</h3>
                            <div class="d-md-flex">
                                <ul class="list-inline d-flex ms-auto">
                                    <li class="ps-3">
                                        <h5><i class="fa fa-circle me-1 text-info"></i>Mac</h5>
                                    </li>
                                    <li class="ps-3">
                                        <h5><i class="fa fa-circle me-1 text-inverse"></i>Windows</h5>
                                    </li>
                                </ul>
                            </div>
                            <div id="ct-visits" style="height: 405px;">
                                <div class="chartist-tooltip" style="top: -17px; left: -12px;"><span
                                        class="chartist-tooltip-value">6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
   
</div>
</body>
</html>