<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashBoard}">

<body>
<div layout:fragment="content">
          <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">판매 랭킹</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Three charts -->
                <!-- ============================================================== -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">기록가</h3>
                            <table>
                            <tr th:each="ptgRank,sts : ${ptgRank}" th:Class="${sts}" align="center">
                            	<td th:text="${sts.count}"></td>
                            	<td><div class="p-2"><img th:src="${ptgRank.PROFILE}" alt="user" width="50" class="rounded-circle"></div></td>
                            	<td style="padding-right: 100px"><h5 class="font-medium" th:text="${ptgRank.ctgrNum}+'님'"></h5></td>
                            	<td><h5 align="right" th:text="${ptgRank.CNT} + '건'"></h5></td>
                            </tr>
                            
                            </table>
                        </div>
                    </div>
                    
                    
                    
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">스튜디오</h3>
                            <table>
                            <tr>
                            	<td>1</td>
                            	<td>                                    <div class="p-2"><img src="/manage/plugins/images/users/ritesh.jpg" alt="user" width="50" class="rounded-circle"></div></td>
                            	<td>        <h5 class="font-medium">허수</h5></td>
                            	<td><h5 align="right">20000</h5></td>
                            </tr>
	                            <tr>
                            	<td>1</td>
                            	<td>                                    <div class="p-2"><img src="/manage/plugins/images/users/ritesh.jpg" alt="user" width="50" class="rounded-circle"></div></td>
                            	<td>        <h5 class="font-medium">허수</h5></td>
                            	<td><h5 align="right">20000</h5></td>
                            </tr>
                                                        <tr>
                            	<td>1</td>
                            	<td>                                    <div class="p-2"><img src="/manage/plugins/images/users/ritesh.jpg" alt="user" width="50" class="rounded-circle"></div></td>
                            	<td>        <h5 class="font-medium">허수</h5></td>
                            	<td><h5 align="right">20000</h5></td>
                            </tr>
                                                        <tr>
                            	<td>1</td>
                            	<td>                                    <div class="p-2"><img src="/manage/plugins/images/users/ritesh.jpg" alt="user" width="50" class="rounded-circle"></div></td>
                            	<td>        <h5 class="font-medium">허수</h5></td>
                            	<td><h5 align="right">20000</h5></td>
                            </tr>
                                                        <tr>
                            	<td>1</td>
                            	<td>                                    <div class="p-2"><img src="/manage/plugins/images/users/ritesh.jpg" alt="user" width="50" class="rounded-circle"></div></td>
                            	<td>        <h5 class="font-medium">허수</h5></td>
                            	<td><h5 align="right">20000</h5></td>
                            </tr>
                            
                            
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">클래스</h3>
                           <table>
                           <tr th:each="classRank,sts2 : ${classRank}" th:Class="${sts2}" align="center">
                            	<td th:text="${sts2.count}"></td>
                            	<td><div class="p-2"><img th:src="${classRank.profile}" alt="user" width="50"></div></td>
                            	<td style="padding-right: 100px"><h5 class="font-medium" th:text="${classRank.ptgId}+'님'"></h5></td>
                            	<td><h5 align="right" th:text="${classRank.count} + '건'"></h5></td>
                            </tr>
                            
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- PRODUCTS YEARLY SALES -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box" align="center">
                        <div align="left">
                            <h3 class="box-title">작가 분야 통계</h3>
                        </div>

<br>
<br>
<div style="width: 1200px">
  <canvas id="myChart"></canvas>
</div>

                        </div>
                    </div>
     </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script th:inline="javascript">


var pList = /*[[${PGraph}]]*/ []; // 컨트롤러에서 가져온 List<Map<String,String>> list 값

    // labels와 data 배열 초기화
    var labels = [];
    var data = [];

    // list의 각 Map에서 key와 value를 labels와 data 배열에 추가
    pList.forEach(function(map) {
        for (var key in map) {
            labels.push(key);
            data.push(map[key]);
        }
    });


    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
         // label: '# 누적 판매량(예약/클래스 통합)',
          label: '# 작가 등록',
          data: data,
          backgroundColor: [
        	  'rgba(245, 50, 168, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 205, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(0, 0, 128, 0.2)',
              'rgba(153, 102, 255, 0.2)',   
              'rgba(100, 100, 100, 0.2)',
            ],
          borderColor: [
        	  'rgba(245, 154, 168)',
              'rgb(255, 99, 132)',
              'rgb(255, 159, 64)',
              'rgb(255, 205, 86)',
              'rgb(75, 192, 192)',
              'rgb(54, 162, 235)',
              'rgba(0, 0, 128, 0.5)',
              'rgb(153, 102, 255)',      
              'rgba(25, 25, 25, 0.5)',
            ],
            borderWidth: 2
        }]
      },
      options: {
        scales: {
          y: {
              ticks: {
                  stepSize: 1,
                  min: 0
                     },
            beginAtZero: true
          }
        }
      }
    });

</script>

</div>
</body>
</html>